@function clr($colour) {
  $colour: map-get($colours, $colour);
  @return $colour;
}

@each $name, $rgb in $colours {
  .text-#{$name} {
    &,
    p,
    th,
    td,
    th,
    a {
      color: #{$rgb} !important;
    }
    .page-header, &.header-color  .image-overlay-contents {
      p,
      th,
      h1,
      h2,
      h3,
      h4,
      a {
        color: #{$rgb} !important;
      }
    }
    .section_title {
      border-bottom: 1px solid #{$rgb};
    }
  }

  .has-#{$name}-border {
    border: 1px solid #{$rgb};
  }

  .has-#{$name}-background-color {
    background-color: #{$rgb} !important;
    &.column_2 {
      &:after {
        background-color: #{$rgb};
      }
    }
    &.column_1 {
      &:before {
        background-color: #{$rgb};
      }
    }
  }

  .has-transparent-background-color {
    background-color: transparent !important
  }

  .has-#{$name}-color.has-text-color {
    color: #{$rgb};
  }

  .has-#{$name}-background-color:before {
    background-color: #{$rgb};
  }

  .has-#{$name}-background-color.has-background-dim::before {
    background-color: rgba(clr($name), 0.5) !important;
  }

  @for $i from 1 through 10 {
    .has-#{$name}-background-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba(clr($name), $i * 0.1) !important;
    }
  }

  .btn-#{$name} {
    background-color: #{$rgb} !important;
    color: $white !important;
  }
}
