// Block layouts
.alignwide {
  margin-left: calc(-85vw / 2 + 100% / 2);
  margin-right: calc(-85vw / 2 + 100% / 2);
}

.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}

.alignfull > .wp-block-group__inner-container,
.alignwide > .wp-block-group__inner-container {
  @extend .container;
}

// Remove margins
.wp-block-columns {
  @extend .m-0;
}
